<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.myclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StudentListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentDetailActivity"
            android:label="@string/title_student_detail"
            android:parentActivityName=".StudentListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.myclass.StudentListActivity" />
        </activity>
        <activity
            android:name=".AddStudentActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.MyContentProvider"
            android:authorities="com.example.android.myclass"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AssignmentListActivity"
            android:label="@string/title_activity_assignment_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TakeAttendanceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentCheckListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassOptionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassListTestActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddAssignmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssignmentDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentsDeliveredActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddStudentDeliveredActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentDeliveredDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditDeliveredAssignmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewClass"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentsAssignmentsList"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>